html{
    font-size: 65%;
}

.navbar {
    background-color :rgb(13, 60, 125);
    overflow :hidden; 
    text-align: center;
    height: 5vh;
}

.Link {
    text-decoration: none;
    color :rgb(255, 255, 255);
    font-size :4.5rem;
    margin-left: 1vw;
}

.Link:hover {
    background-color :rgb(255, 255, 255);
    color :rgb(0, 0, 0);
    transition-duration: 0.4s;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Photos/background.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2.5vw;
}

h4 {
    margin-left: 2vw; 
}

.main {
    /* background-color: rgb(4, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgba(0, 255, 242, 0.575);
    height: 80vh;
    width : 70vw;
    border-radius: 3vw;
    margin-top: 6vh;
    border: 1vw solid rgba(0, 255, 242, 0.329);
}

.img {
    margin-left: 2vw;
    margin-bottom: 2vh;
    width: 300px;
    height: 400px;
}

.text {
    margin-left: 2vw;
    height: 15vh;
    width: 35vw;
    margin-left: 20vw;
    margin-top: -42vh;
    font-size: 1.5vw;
}

.info {
    height: 20vh;
    width: 18vw;
    margin-left: 2vw;
    margin-top: 21.5vh;
    font-size: 1.2vw;
}

.logo {
    height: 6vh;
    width: 10vw;
    float: left;
    margin-top: -6vh;
    margin-left: 2vw;
}
